{{> header}}


<div class="container scraped-container">
    <h3 id="articles-title">ARTICLES</h3>

    
        {{#each data}}
            {{#if saved}}
                <div class="article" data-id={{_id}}>
                    <img src={{img_url}}>
                    <h4>{{headline}}</h4>
                    <a href={{link}}>{{link}}</a>
                    <br>
                    <button id='unsave'>UNSAVE</button>
                    <hr>
                </div>
            {{/if}}
        {{/each}}

</div>